// Check
.check {
  &__item {
    cursor: pointer;
    line-height: 1.3;
    display: flex;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 13px;
    }
    input {
      display: none;
    }
    &:hover .check__mark,
    input:checked + .check__mark {
      border-color: $orange;
    }
    input:checked + .check__mark:before {
      opacity: 1;
    }
  }
  &__mark {
    top: 2px;
    position: relative;
    margin-right: 16px;
    border: 1px solid $gray;
    width: 16px;height: 16px;
    flex-shrink: 0;
    transition: all .2s;
    &:before {
      opacity: 0;
      @include pseudo-elements;
      top: 0;left: 0;right: 0;bottom: 0;
      background: url(../img/svg/i-check-orange.svg) center no-repeat;
      transition: inherit;
    }
  }
  &__title, &__txt {
    transition: inherit;
  }
  &__title {
    width: 100%;
    font-size: $fz-18;
    margin-bottom: 4px;
  }
  &__txt {
    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &--big {
    .check__item {
      height: 100%;
      position: relative;
      border: 1px solid $gray;
      padding: 16px 16px 16px 48px;
      transition: all .2s;
      flex-wrap: wrap;
      &--active {
        color: $white;
        background: $orange;
        border-color: $orange;
        .check__txt {
          opacity: .6;
        }
      }
    }
    .check__mark {
      position: absolute;
      border-color: $dark;
      top: 18px;left: 16px;
    }
    .check__txt {
      font-size: $fz-14;
    }
    input:checked + .check__mark {
      background: $white;
      border-color: $white;
    }
  }
  &--radio {
    .check__mark {
      margin-right: 24px;
      border-radius: 50%;
      &:before {
        background: $orange;
        border-radius: inherit;
        width: 8px;height: 8px;
        transform: translate(-50%, -50%);
        top: 50%;left: 50%;right: auto;bottom: auto;
      }
    }
  }
}