// Icons
.i {
  &-search i {
    background: url(../img/svg/i-search.svg) center/contain no-repeat;
  }
  &-home i {
    background: url(../img/svg/i-home.svg) center/contain no-repeat;
  }
  &-catalog i {
    background: url(../img/svg/i-catalog.svg) center/contain no-repeat;
  }
  &-basket i {
    background: url(../img/svg/i-basket.svg) center/contain no-repeat;
  }
  &-favorites i {
    background: url(../img/svg/i-favorites.svg) center/contain no-repeat;
  }
  &-profile i {
    background: url(../img/svg/i-profile.svg) center/contain no-repeat;
  }
  &-delivery {
    background: url(../img/svg/i-delivery.svg) center/contain no-repeat;
  }
  &-return {
    background: url(../img/svg/i-return.svg) center/contain no-repeat;
  }
  &-support {
    background: url(../img/svg/i-support.svg) center/contain no-repeat;
  }
  &-vk {
    background: url(../img/svg/i-vk.svg) center/contain no-repeat;
  }
  &-yo {
    background: url(../img/svg/i-yo.svg) center/contain no-repeat;
  }
  &-mir {
    background: url(../img/svg/i-mir.svg) center/contain no-repeat;
  }
  &-visa {
    background: url(../img/svg/i-visa.svg) center/contain no-repeat;
  }
  &-master {
    background: url(../img/svg/i-master.svg) center/contain no-repeat;
  }
  &-close {
    background: url(../img/svg/i-close.svg) center/contain no-repeat;
  }
  &-arrow-right {
    background: url(../img/svg/i-arrow-right.svg) center/contain no-repeat;
  }
  &-arrow-down-dark {
    background: url(../img/svg/i-arrow-down-dark.svg) center/contain no-repeat;
  }
  &-filter {
    background: url(../img/svg/i-filter.svg) center/contain no-repeat;
  }
  &-plus {
    background: url(../img/svg/i-plus.svg) center/contain no-repeat;
  }
  &-cross-dark {
    background: url(../img/svg/i-cross-dark.svg) center/contain no-repeat;
  }
  &-cross-border {
    background: url(../img/svg/i-cross-border.svg) center/contain no-repeat;
  }
  &-check-border {
    background: url(../img/svg/i-check-border.svg) center/contain no-repeat;
  }
  &-ya-orange {
    background: url(../img/svg/i-ya-orange.svg) center/contain no-repeat;
  }
  &-vk-blue {
    background: url(../img/svg/i-vk-blue.svg) center/contain no-repeat;
  }
}