// Tabs
.tabs {
  &__nav {
    line-height: 1;
    &Item {
      cursor: pointer;
      font-size: $fz-18;
      font-weight: $bold;
      position: relative;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      &:not(:last-child) {
        margin-right: 24px;
      }
      &:after {
        opacity: 0;
        height: 3px;
        @include pseudo-elements;
        background: $orange;
        pointer-events: none;
        left: 0;right: 0;bottom: 0;
        transform: translateY(8px);
        transition: inherit;
      }
      &.active,
      &:hover {
        color: $orange
      }
      &.active {
        &:after {
          opacity: 1;
        }
      }
    }
  }
  &__item {
    margin-top: 40px;
    max-width: 690px;width: 100%;
  }
}

// Media
@media (max-width: $lg) {
  .tabs {
    margin-top: 48px;
  }
}

@media (max-width: $md) {
  .tabs {
    margin-top: 40px;
    &__nav {
      &Item {
        font-size: $fz-16;
      }
    }
    &__item {
      margin-top: 30px;
    }
  }
}

@media (max-width: $extra-mob) {
  .tabs {
    &__nav {
      &Item {
        font-size: $fz-14;
      }
    }
  }
}