// Fonts
$font-primary: 'Montserrat', sans-serif;

// Fonts weight
$medium: 500;
$semibold: 600;
$bold: bold;

// Font size
$fz-10: 10px;
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 16px;
$fz-18: 18px;
$fz-24: 24px;
$fz-32: 32px;
$fz-48: 48px;

// Colors
$white: #fff;
$black: #000;
$dark: #212529;
$orange: #F75F41;
$orangeHover: #ff6f52;
$gray: #ADB5BD;
$red: #FF3C38;
$green: #52B788;
$grayLight: #F8F9FA;
$orangeLight: #FFAA00;
$redLight: #FFF7F5;

// Media
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;

$min-xl: 1200px;
$min-lg: 992px;
$min-md: 767px;
$min-sm: 576px;

$mob: 480px;
$extra-mob: 359px;